html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  background: #000;
  perspective: 340px;
}

.stars {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  box-shadow: -1084px -372px #f0f0f0, -309px -189px #fafafa, -87px 310px #f7f7f7,
    -52px 388px #dbdbdb, 721px 326px whitesmoke, 766px -6px #f2f2f2,
    90px -389px #e8e8e8, -1225px 292px #fcfcfc, -137px 224px #c9c9c9,
    745px 333px #ededed, 970px -395px #f7f7f7, -841px -377px #e3e3e3,
    -314px 150px #cccccc, 467px 285px #d6d6d6, -459px 343px #fcfcfc,
    1355px -463px #f2f2f2, -730px -436px #d1d1d1, 1152px 160px #d6d6d6,
    429px 190px #d6d6d6, -152px -465px #c2c2c2, 413px -286px white,
    -692px 251px whitesmoke, -954px -7px #fafafa, -780px -326px #cfcfcf,
    632px 320px #d1d1d1, -923px -102px #d6d6d6, 262px -230px #dbdbdb,
    353px -71px #d6d6d6, 719px -78px #fafafa, -1459px 281px #ebebeb,
    -1130px 118px #fcfcfc, -893px 336px whitesmoke, 1392px -461px #f7f7f7,
    171px 316px #e0e0e0, -909px -120px #d6d6d6, 1035px 452px #cfcfcf,
    -1355px -105px #dbdbdb, 1369px -243px #d9d9d9, -148px -363px #f2f2f2,
    404px -438px #e0e0e0, 924px -264px #c7c7c7, -175px -424px #cfcfcf,
    863px -478px white, 337px -157px white, -556px 86px #e3e3e3,
    954px 412px #ededed, 345px 333px #dedede, -1445px 124px #d9d9d9,
    1262px -195px #f7f7f7, 758px 400px #f2f2f2, 1199px -352px #d4d4d4,
    951px 415px #d4d4d4, 1103px 218px #dedede, 932px 21px #d1d1d1,
    1323px 415px #c4c4c4, 1420px 374px #fafafa, -1005px -467px #e6e6e6,
    1005px 301px #cccccc, -1059px 139px #cccccc, 692px 92px #dedede,
    228px -277px #e8e8e8, 416px 412px #d9d9d9, -990px -6px white,
    600px -341px #fafafa, -1349px 338px #d9d9d9, 1193px -238px #f0f0f0,
    -63px -80px #c7c7c7, 408px -240px whitesmoke, -710px 188px #f2f2f2,
    -1357px 172px #dedede, -284px 404px #cccccc, 1444px 129px #f7f7f7,
    484px 231px #e8e8e8, 1080px 251px #ededed, 1444px 184px #cfcfcf,
    -994px -408px #c2c2c2, 207px -159px #e8e8e8, 230px -432px #dbdbdb,
    562px 86px #cccccc, 566px -425px #d6d6d6, -873px -41px white,
    351px 364px #c7c7c7, 1086px 416px #f0f0f0, -848px -423px #d4d4d4,
    -171px -432px #c4c4c4, 1225px -179px #e6e6e6, -808px 231px #e6e6e6,
    190px 292px #ededed, -103px -185px #c7c7c7, -1410px 237px #e6e6e6,
    -1491px 468px #f2f2f2, -472px 431px #ebebeb, -1333px 327px #cccccc,
    704px -297px whitesmoke, 34px 31px #e6e6e6, 1146px 72px white,
    200px 26px #dbdbdb, 527px 153px #dbdbdb, -238px 474px #d1d1d1,
    -730px -222px #ebebeb, 844px 95px #dbdbdb, -163px -107px #d4d4d4,
    -557px -74px #c4c4c4, 838px 193px #d4d4d4, 1279px -170px #e3e3e3,
    353px -93px #fcfcfc, 972px 200px #cccccc, -959px -203px #f7f7f7,
    1421px 11px #f2f2f2, -1207px 109px #e8e8e8, -256px 370px #e6e6e6,
    1455px -54px #ededed, 47px 262px #d6d6d6, 232px 126px #c9c9c9,
    1419px 464px #d1d1d1, 300px -16px whitesmoke, 1191px -168px #e3e3e3,
    638px 122px #ededed, 248px -80px #e3e3e3, 325px 220px #e8e8e8,
    1172px 358px #e3e3e3, 1281px -279px #c2c2c2, -502px 313px #d4d4d4,
    589px 206px #d1d1d1, -105px -287px #e6e6e6, -335px 279px #f2f2f2,
    -446px 123px #dedede, 403px -472px #d4d4d4, -513px -189px #e6e6e6,
    975px -43px #ebebeb, 782px -249px #c9c9c9, -503px 419px #e6e6e6,
    1477px -35px #ededed, 1455px -153px #d6d6d6, -583px -373px #ebebeb,
    -1256px -351px #fcfcfc, 1142px -254px #ededed, 204px -266px whitesmoke,
    797px 378px #d9d9d9, -1007px -243px #e0e0e0, -672px 292px #fcfcfc,
    1453px 59px #f0f0f0, -269px -64px #c9c9c9, -519px -384px #c7c7c7,
    1239px 6px #c7c7c7, 478px -369px #fcfcfc, -881px -86px #e6e6e6,
    -655px -88px #f7f7f7, 775px 326px #e6e6e6, -1391px 306px #ededed,
    80px 207px #d4d4d4, -473px -238px #d9d9d9, 1076px 280px #c2c2c2,
    -911px -169px #c7c7c7, -1253px 329px #d1d1d1, 1060px 274px #e6e6e6,
    284px 429px #c2c2c2, 691px 44px #e3e3e3, -348px 29px #e6e6e6,
    1475px -26px #e6e6e6, -1132px -284px #ebebeb, -929px -378px #e3e3e3,
    -432px -27px #e6e6e6, 1450px 214px #e0e0e0, -95px 133px #dedede,
    1172px 224px #c4c4c4, 69px -279px #e0e0e0, 863px -383px #c2c2c2,
    1259px 29px #c2c2c2, 443px -312px #ededed, -161px 23px #ebebeb,
    138px 240px #cfcfcf, -676px 8px #cccccc, -933px 207px #f7f7f7,
    1009px -348px #d9d9d9, 642px -10px white, -253px -209px #dbdbdb,
    1463px 260px #c7c7c7, 422px 221px #e6e6e6, 1114px 12px #cfcfcf,
    -317px 437px #e8e8e8, 533px -303px #e3e3e3, 1354px 137px #e6e6e6,
    -446px -231px white, -1287px -75px #d4d4d4, -805px -462px #ededed,
    386px -458px #d1d1d1, 133px 422px #c9c9c9, -957px -257px #e6e6e6,
    1157px 268px #dedede, 913px -233px #f2f2f2, -1388px 414px #f7f7f7,
    -1042px 254px #d4d4d4, 863px -203px white, 723px 332px #d4d4d4,
    -1282px 191px #e0e0e0, -368px -432px #f2f2f2, 856px 272px #e3e3e3,
    1163px -26px whitesmoke, -748px -363px #c9c9c9, 939px 81px #ebebeb,
    156px 121px #e6e6e6, -253px -213px #dbdbdb, -1293px 99px #cccccc,
    746px 341px #cccccc, -583px -433px #fcfcfc, 1439px 51px #e0e0e0,
    -843px -400px #cfcfcf, -246px 0px #d6d6d6, -890px -315px #e3e3e3,
    243px -270px #dbdbdb, 1011px 78px #d1d1d1, 1412px -34px #c9c9c9,
    1116px 95px #dbdbdb, -1016px -240px #dbdbdb, 875px -447px #cfcfcf,
    -42px -322px #c2c2c2, 1307px -476px #dbdbdb, -778px 108px #e8e8e8,
    512px 140px #dedede, 627px -143px #cccccc, 1361px -273px white,
    -1158px 229px #d1d1d1, 180px 237px #e6e6e6, -79px 466px #d9d9d9,
    606px -275px #e6e6e6, 69px -107px #c2c2c2, 305px -306px #ededed,
    580px -103px #ebebeb, -1154px -48px #c9c9c9, 159px -429px #cfcfcf,
    791px 449px #d4d4d4, -1482px -120px #c2c2c2, 450px -197px #c7c7c7,
    -63px -96px #e6e6e6, -209px -162px #f7f7f7, -8px 199px #d9d9d9,
    -1291px 145px #e8e8e8, 1284px 355px #c4c4c4, -336px -209px #fafafa,
    1068px -178px whitesmoke, 75px 173px #fafafa, 205px -353px #c2c2c2,
    -791px -70px #dedede, -849px -55px #d6d6d6, 743px 262px #fcfcfc,
    -1228px 353px #fcfcfc, 867px 113px #c7c7c7, -73px -326px #cfcfcf,
    -71px -393px #dedede, -1303px 205px #ebebeb, 1139px -309px #c9c9c9,
    -641px -198px #f2f2f2, -822px -71px #e0e0e0, 140px -213px #e3e3e3,
    463px -421px #d6d6d6, -1335px 434px #d4d4d4, 520px -289px #f2f2f2,
    477px 174px #e6e6e6, 171px -51px #c7c7c7, -495px -389px #d1d1d1,
    911px 279px #f0f0f0, 951px 341px #e8e8e8, 507px 438px #f0f0f0,
    769px 479px #ededed, -1299px -407px #fcfcfc, 636px 235px #cfcfcf,
    1033px 341px #cccccc, -521px -11px #c9c9c9, 1129px 269px #ebebeb,
    1411px 365px whitesmoke, 468px 64px #c4c4c4, 1023px 186px #f0f0f0,
    1254px -426px #d4d4d4, -624px -306px whitesmoke, -1429px -1px #e3e3e3,
    43px 103px #d9d9d9, 1150px -102px #c7c7c7, 781px 76px #e0e0e0,
    1152px 425px whitesmoke, -1354px 41px #c4c4c4, 115px 151px #ebebeb,
    -149px -136px #f2f2f2, -617px 123px #fcfcfc, 258px -372px #c7c7c7,
    -834px 97px whitesmoke, 335px 480px #c9c9c9, 20px 338px #d1d1d1,
    137px -27px #cfcfcf, 76px -301px #c2c2c2, 1427px -74px #dedede,
    -193px 170px white, -1426px -382px #ededed, 1094px -444px #cccccc,
    1213px -110px #dbdbdb, -352px 397px #ededed, -420px -251px whitesmoke,
    -835px 304px #d6d6d6, 542px -192px #d1d1d1, -811px -84px #c7c7c7,
    -826px 82px #ededed, -448px -55px #f7f7f7, 1359px 261px #ededed,
    516px 310px #f0f0f0, 459px -109px white, 271px -260px #d1d1d1,
    -321px -249px #c4c4c4, 762px 93px #e8e8e8, -953px 400px #d9d9d9,
    946px 1px #cfcfcf, 1047px -264px #d9d9d9, -1357px -166px #f2f2f2,
    -1208px -132px whitesmoke, -1107px 441px #e6e6e6, 380px 441px #c2c2c2,
    -945px -88px #cccccc, 232px -89px #dbdbdb, 880px 270px #e3e3e3,
    -454px 286px #e6e6e6, 659px -355px #ebebeb, 1179px 49px #e0e0e0,
    1250px -296px whitesmoke, 1223px -314px #e0e0e0, -1218px -435px #c9c9c9,
    114px 366px #e0e0e0, 940px 367px #d4d4d4, 1461px 73px #fafafa,
    764px -94px #e0e0e0, -59px -11px #c9c9c9, 597px -322px #c7c7c7,
    986px -142px #c9c9c9, -211px 228px #fcfcfc, 1437px 269px #fcfcfc,
    -697px 402px #d9d9d9, 1039px 155px #fafafa, -560px 209px whitesmoke,
    -458px -372px #fafafa, -475px -182px #f0f0f0, -755px 330px #d6d6d6,
    -1323px 42px #fafafa, -777px -360px #d6d6d6, -407px -83px #cfcfcf,
    990px -421px #dbdbdb, 875px 279px #cfcfcf, 270px 414px #d6d6d6,
    302px 126px #c7c7c7, 1143px 424px #e6e6e6, 16px 316px #e6e6e6,
    182px -322px #dbdbdb, 356px -412px #cccccc, 869px 176px #ededed;
  animation: fly 3s linear infinite;
  transform-style: preserve-3d;
}
.stars:before,
.stars:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}
.stars:before {
  transform: translateZ(-300px);
  animation: fade1 3s linear infinite;
}
.stars:after {
  transform: translateZ(-600px);
  animation: fade2 3s linear infinite;
}

@keyframes fly {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ(300px);
  }
}
@keyframes fade1 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes bg-gradient-anim-1 {
  0%,
  100% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 100% 70%;
  }

  50% {
    background-position: 70% 0%;
  }

  75% {
    background-position: 0% 100%;
  }
}

.arrow-down {
  display: none;
  background-color: transparent;
  width: 150px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  animation: bounce 1.4s ease infinite;
  top: 0px;
  left: 42.5px;
  transform: translateX(-50%);
  filter: drop-shadow(0px 0px 2px grey);
}

.arrow-down_part-left {
  background-color: white;
  position: absolute;
  transform: rotateZ(-45deg) translateY(70px);
  border-radius: 2px;
  width: 70px;
  height: 20px;
}
.arrow-down_part-right {
  background-color: white;
  transform: rotateZ(45deg) translateY(25px) translateX(45px);
  position: absolute;
  border-radius: 2px;
  width: 70px;
  height: 20px;
}
@keyframes bounce {
  from {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  to {
    top: 0px;
  }
}

#coin {
  background: var(--jeton);
  position: absolute;
  display: none;
  top: 10px;
  width: 75px;
  height: 75px;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#coin:before {
  background-color: var(--jeton);
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 75px;
  width: 75px;
  -webkit-transform: translateZ(-6.75px);
}
#coin:after {
  background-color: var(--jeton);
  content: "";
  left: 31.75px;
  position: absolute;
  height: 77px;
  width: 6.75px;
  z-index: -10;
  -webkit-transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
}

.tails {
  background-color: var(--jeton);
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 75px;
  width: 75px;
  -webkit-transform: translateZ(-0.045px);
  border: 1px solid var(--jeton);
}

.heads {
  background-color: var(--jeton);
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 75px;
  width: 75px;
  -webkit-transform: translateZ(-7px);
  border: 1px solid var(--jeton);
}

content {
  width: 1000px;
  margin: 0 auto;
  height: 800px;
}
#hologram1 {
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform: translateX(calc(-50% - 50px));
  width: 600px;
  height: 69%;
  z-index: -1;
  border-radius: 22px;
  box-shadow: inset 0 -10px 10px -5px #fff, inset 0 0 5px #fff,
    inset 0 0 12.5px #fff, inset 0 0 20px #07f, inset 0 0 40px #7ff,
    0 0 3px #fff, 0 0 20px #0bf, 0 0 50px #07f, 0 0 35px #7ff;
}
#hologram2 {
  background: url(https://www.pngall.com/wp-content/uploads/5/Hologram-PNG-Picture.png)
    no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  height: 400px;
  width: 600px;
  left: 50%;
  transform: translateX(calc(-50% - 50px)) scale(1.3);
  z-index: -1;
  filter: brightness(1.5);
}

#connect4Canvas {
  background-color: transparent;
  height: 100%;
  width: 890px;
  margin: 0 auto;
  display: block;
  opacity: 0.5;
  filter: brightness(1.2);
}

#glitch {
  width: 89%;
  animation: glitch 6s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

#glitch:before,
#glitch:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

#glitch:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

#glitch:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

@import url("https://fonts.googleapis.com/css?family=VT323|Audiowide");
body {
  font-family: "Audiowide", sans-serif;
}
nav {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

label i,
label svg {
  font-size: 30px;
  text-shadow: 0 0 1px black;
}

#pan-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2000px;
  height: 80px;
  border-top: 5px solid grey;
  background-image: url(https://t3.ftcdn.net/jpg/01/11/42/58/360_F_111425816_kvcrQwPiqcVvpP3WCX8a6FdI9zEQ0IWb.jpg);
}
#pan-left {
  position: absolute;
  color: #9effff;
  background: rgba(184, 237, 255, 0.4);
  border: solid 3px #9effff;
  border-radius: 10px;
  transform: rotateY(20deg) rotateX(10deg) rotateZ(-2deg);
  width: 200px;
  bottom: 50px;
  left: 20px;
  text-align: center;
  padding: 20px;
}

#pan-left::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 100%;
  bottom: 0px;
  left: 0px;
  padding: 0 20px;
  border-radius: 10px;
  opacity: 0.4;
  z-index: -1;
  background: url(https://wallpapercave.com/wp/wp3297214.jpg);
}

:root {
  --jeton: #ffdd00;
  --dur: 0.3s;
  --dur2: 0.15s;
  --form-control-color: #9effff;
  --form-control-disabled: #9effff;
  font-size: 16px;
}
/* Lever */
#pan-bottom input[type="checkbox"] {
  background-image: radial-gradient(
      2px 3px at 50% 50%,
      rgb(204, 204, 204) 25%,
      rgb(170, 170, 170) 49%,
      rgba(170, 170, 170, 0) 50%
    ),
    radial-gradient(1.3px 2px at 50% 53%, rgb(68, 68, 68), rgba(68, 68, 68, 0)),
    radial-gradient(
      1.5px 1.5px at 55% 45%,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 0.8px at 43% 56%,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 0.8px at 55% 57%,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 0.8px at 50% 60%,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      100% 100% at 50% 50%,
      rgb(238, 238, 238),
      rgb(170, 170, 170) 10%,
      rgb(0, 0, 0) 18%,
      rgb(0, 0, 0) 21%,
      rgb(153, 153, 153) 21.5%,
      rgb(153, 153, 153) 24%,
      rgba(153, 153, 153, 0) 24.5%,
      rgba(221, 221, 221, 0) 30%,
      rgb(221, 221, 221) 30.5%,
      rgb(221, 221, 221) 33%,
      rgb(68, 68, 68) 33.5%,
      rgb(68, 68, 68) 35%,
      rgba(68, 68, 68, 0) 35.5%,
      rgba(221, 221, 221, 0) 41%,
      rgb(221, 221, 221) 41.5%,
      rgb(238, 238, 238) 45%,
      rgb(68, 68, 85) 45.5%,
      rgb(68, 68, 85) 49%,
      rgba(68, 68, 85, 0) 50%
    ),
    radial-gradient(
      4px 4px at 35% 20%,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0) 4px
    ),
    radial-gradient(
      4px 4px at 65% 80%,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0) 4px
    ),
    radial-gradient(
      4px 4px at 80% 35%,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0) 4px
    ),
    radial-gradient(
      4px 4px at 20% 65%,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0) 4px
    ),
    radial-gradient(
      100% 100% at center,
      rgb(170, 170, 170) 49%,
      rgba(170, 170, 170, 0) 50%
    );
  background-position: 1px 0, 1px 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0,
    0 0;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 2px;
  display: block;
  outline: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-position var(--dur) linear;
  transform: translateX(50px) translateY(4px) rotate(90deg);
}
#pan-bottom input[type="checkbox"] + label {
  color: #e00;
}
form input[type="checkbox"] + label {
  color: grey;
  cursor: pointer;
}
#pan-bottom input[type="checkbox"]:checked + label {
  color: #0e0;
}
form input[type="checkbox"]:checked + label {
  color: #9effff;
}
#pan-bottom input[type="checkbox"]:before,
#pan-bottom input[type="checkbox"]:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}
#pan-bottom input[type="checkbox"]:before {
  animation: leverAOff var(--dur) linear forwards;
  background: radial-gradient(
      35% 25% at 50% 25%,
      rgb(136, 136, 153) 20%,
      rgba(136, 136, 153, 0)
    ),
    radial-gradient(
      2px 1.5px at 32% 75%,
      rgb(102, 102, 102),
      rgba(102, 102, 102, 0)
    ),
    radial-gradient(
      2px 1.5px at 65% 78%,
      rgb(102, 102, 102),
      rgba(102, 102, 102, 0)
    ),
    radial-gradient(
      100% 100% at center,
      rgb(68, 68, 68) 49.5%,
      rgba(68, 68, 68, 0) 50%
    );
  box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.3), -2px 5px 4px rgba(0, 0, 0, 0.2),
    -2px 7px 4px rgba(0, 0, 0, 0.2), -2px 9px 4px rgba(0, 0, 0, 0.2),
    -2px 11px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  transform: translate(100%, -50%);
  z-index: 1;
}
#pan-bottom input[type="checkbox"]:checked {
  background-position: -1px 0, -1px 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0,
    0 0, 0 0;
}
#pan-bottom input[type="checkbox"]:checked:before {
  animation: leverAOn var(--dur) linear forwards;
}
#pan-bottom input[type="checkbox"]:after {
  animation: leverBOff var(--dur) linear forwards;
  background-color: #333;
  border-radius: 30px;
  box-shadow: 0 0 2px #667 inset;
  width: 15px;
  height: 8px;
  transform: translate(1px, -50%);
}
#pan-bottom input[type="checkbox"]:checked:after {
  animation: leverBOn var(--dur) linear forwards;
}
/* To stop animations from running on load */
#pan-bottom .pristine:before,
#pan-bottom .pristine:after {
  animation: none;
}

form input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  /* Remove most all native input styles */
  -moz-appearance: none;
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  position: absolute;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  transform: translateX(50px) translateY(10px);
}
form input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  -webkit-clip-path: polygon(
    14% 44%,
    0 65%,
    50% 100%,
    100% 16%,
    80% 0%,
    43% 62%
  );
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

form input[type="checkbox"]:checked::before {
  transform: scale(1);
}

form input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

#nav-toggle-animateSpeed {
  position: absolute;
  left: 450px;
  transform: translateY(0px) scale(4);
}
#nav-toggle-animateSpeed label i,
#nav-toggle-animateSpeed label svg {
  font-size: 10px;
  transform: translateX(40px) translateY(7px);
}
form label svg {
  width: 60px !important;
  font-size: 30px !important;
}

@keyframes leverAOn {
  from {
    box-shadow: -4px 8px 4px rgba(0, 0, 0, 0.3),
      -4px 10px 8px rgba(0, 0, 0, 0.2), -4px 14px 8px rgba(0, 0, 0, 0.2),
      -4px 18px 8px rgba(0, 0, 0, 0.2), -4px 22px 8px rgba(0, 0, 0, 0.2);
    transform: translate(100%, -50%);
  }
  50% {
    box-shadow: 0 12px 4px rgba(0, 0, 0, 0.3), 0 10px 8px rgba(0, 0, 0, 0.2),
      0 14px 8px rgba(0, 0, 0, 0.2), 0 18px 8px rgba(0, 0, 0, 0.2),
      0 22px 8px rgba(0, 0, 0, 0.2);
  }
  to {
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.3), 4px 10px 8px rgba(0, 0, 0, 0.2),
      4px 14px 8px rgba(0, 0, 0, 0.2), 4px 18px 8px rgba(0, 0, 0, 0.2),
      4px 22px 8px rgba(0, 0, 0, 0.2);
    transform: translate(-200%, -50%);
  }
}
@keyframes leverAOff {
  from {
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.3), 4px 10px 8px rgba(0, 0, 0, 0.2),
      4px 14px 8px rgba(0, 0, 0, 0.2), 4px 18px 8px rgba(0, 0, 0, 0.2),
      4px 22px 8px rgba(0, 0, 0, 0.2);
    transform: translate(-200%, -50%);
  }
  50% {
    box-shadow: 0 12px 4px rgba(0, 0, 0, 0.3), 0 10px 8px rgba(0, 0, 0, 0.2),
      0 14px 8px rgba(0, 0, 0, 0.2), 0 18px 8px rgba(0, 0, 0, 0.2),
      0 22px 8px rgba(0, 0, 0, 0.2);
  }
  to {
    box-shadow: -4px 8px 4px rgba(0, 0, 0, 0.3),
      -4px 10px 8px rgba(0, 0, 0, 0.2), -4px 14px 8px rgba(0, 0, 0, 0.2),
      -4px 18px 8px rgba(0, 0, 0, 0.2), -4px 22px 8px rgba(0, 0, 0, 0.2);
    transform: translate(100%, -50%);
  }
}
@keyframes leverBOn {
  from {
    width: 15px;
    transform: translate(1px, -50%);
  }
  50% {
    width: 8px;
    transform: translate(-50%, -50%);
  }
  to {
    width: 15px;
    transform: translate(-16px, -50%);
  }
}
@keyframes leverBOff {
  from {
    width: 15px;
    transform: translate(-16px, -50%);
  }
  50% {
    width: 8px;
    transform: translate(-50%, -50%);
  }
  to {
    width: 15px;
    transform: translate(1px, -50%);
  }
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="radio"],
input[type="radio"] + label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

input[type="radio"] + label {
  position: relative;
}

input[type="radio"] + label:before {
  content: "";
  background: grey;
  border: 2px solid #9effff;
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

input[type="radio"] + label:before {
  border-radius: 50%;
}

input[type="radio"]:checked + label:before {
  background: #9effff;
  box-shadow: inset 0px 0px 0px 4px #9effff;
}

#hologram3 {
  background: url(https://www.pngall.com/wp-content/uploads/5/Hologram-PNG-Picture.png)
    no-repeat;
  background-size: cover;
  width: 600px;
  height: 500px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: translateX(-250px) translateY(130px) rotate(60deg) scale(0.9);
  filter: brightness(1.5);
}

button[type="submit"] {
  position: absolute;
  cursor: pointer;
  left: 300px;
  width: 15px;
  height: 50px;
  display: block;
  background-color: #222;
  box-shadow: inset 0 5px 10px grey;
  position: absolute;
  border: none;
  transform: rotateY(20deg) rotateX(-10deg) rotateZ(2deg);
  transition: all 0.2s linear;
}

button[type="submit"]:before {
  content: "";
  display: block;
  position: relative;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  background: url(https://thumbs.dreamstime.com/b/metal-template-background-steel-metal-plate-steel-metal-texture-design-black-background-silver-metal-plate-rivets-185639755.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateX(-20px) translateY(-40px);
  transition: all 0.2s linear;
}
button[type="submit"]:after {
  content: "";
  display: block;
  position: relative;
  width: 15px;
  height: 50px;
  background-color: #222;
  box-shadow: inset 0 5px 10px grey;
  z-index: -10;
  transform: translateX(200px) translateY(-50px);
  transition: all 0.2s linear;
}

button[type="submit"]:active:before {
  transform: translateX(-20px) translateY(-10px) scale(1.03);
}
button[type="submit"]:active,
button[type="submit"]:active:after {
  background-color: #1b1b1b;
  box-shadow: inset 0 5px 10px #444;
}

video,
audio {
  display: none;
}

.gif {
  z-index: -1;
}

.gif1 {
  top: 0px;
  right: -300px;
  animation: gif1 7s linear;
}
.gif2 {
  bottom: 0px;
  left: -300px;
  animation: gif2 7s linear;
}
.gif3 {
  bottom: 0px;
  right: -300px;
  animation: gif3 7s linear;
}
.gif4 {
  top: 0px;
  left: -300px;
  animation: gif4 7s linear;
}

@keyframes gif1 {
  0% {
    transform: translateX(30vw) translateY(0vh) rotate(0deg) scale(1);
  }
  50% {
    transform: translateX(-60vw) translateY(10vh) rotate(45deg) scale(0.8);
  }
  100% {
    transform: translateX(-150vw) translateY(23vh) rotate(90deg) scale(1);
  }
}
@keyframes gif2 {
  0% {
    transform: translateX(-30vw) translateY(20vh) rotate(0deg) scale(1);
  }
  50% {
    transform: translateX(60vw) translateY(-30vh) rotate(-45deg) scale(1.1);
  }
  100% {
    transform: translateX(150vw) translateY(-80vh) rotate(-90deg) scale(1);
  }
}
@keyframes gif3 {
  0% {
    transform: translateX(30vw) translateY(0vh) rotate(0deg) scale(1);
  }
  50% {
    transform: translateX(-60vw) translateY(-30vh) rotate(-20deg) scale(1);
  }
  100% {
    transform: translateX(-150vw) translateY(-60vh) rotate(-40deg) scale(1);
  }
}
@keyframes gif4 {
  0% {
    transform: translateX(-30vw) translateY(0px) rotate(0deg) scale(1);
  }
  50% {
    transform: translateX(60vw) translateY(50vh) rotate(90deg) scale(0.7);
  }
  100% {
    transform: translateX(150vw) translateY(100vh) rotate(180deg) scale(1);
  }
}

/* Color Picker */

.values {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  color: #aaa;
  background: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", sans-serif;
}

.button {
  transform: scale(0.4);
  margin: 30px auto 0;
  width: 14em;
  height: 14em;
  border-radius: 3em;
  position: absolute;
  bottom: -75px;
  left: 750px;
}
.button2 {
  left: 850px;
}
.button:before,
.button:after {
  box-sizing: border-box;
  display: block;
}
.button:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 6.5em);
  top: calc(50% - 6.5em);
  width: 13em;
  height: 13em;
  background-image: linear-gradient(to bottom, #000, #666);
  -webkit-filter: blur(4px);
}
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 5.5em);
  top: calc(50% - 5.5em);
  width: 11em;
  height: 11em;
  background-image: linear-gradient(to bottom, #505050, #333 80%);
  box-shadow: 0 4px 28px -10px rgba(0, 0, 0, 0.2);
}

.wheel,
.colors,
.color {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 4.75em);
  top: calc(50% - 4.75em);
  width: 9.5em;
  height: 9.5em;
}

.wheel {
  overflow: hidden;
  display: block;
  z-index: 1;
  box-shadow: inset 0 16px 32px 14px rgba(0, 0, 0, 0.7);
}

.colors {
  list-style: none;
  background: #333;
  position: relative;
  -webkit-filter: blur(10px);
  transform: translateX(-15px) translateY(-15px) rotate(170deg) scaleX(-1);
}

.color {
  clip: rect(0px, 9.5em, 9.5em, 4.75em);
}
.color:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 4.75em);
  top: calc(50% - 4.75em);
  width: 9.5em;
  height: 9.5em;
  clip: rect(0px, 4.75em, 9.5em, 0px);
}

.color:nth-child(1):after {
  background-color: #9ed110;
  z-index: 12;
  transform: rotate(30deg);
}

.color:nth-child(2):after {
  background-color: #50b517;
  z-index: 11;
  transform: rotate(60deg);
}

.color:nth-child(3):after {
  background-color: #179067;
  z-index: 10;
  transform: rotate(90deg);
}

.color:nth-child(4):after {
  background-color: #476eaf;
  z-index: 9;
  transform: rotate(120deg);
}

.color:nth-child(5):after {
  background-color: #9f49ac;
  z-index: 8;
  transform: rotate(150deg);
}

.color:nth-child(6):after {
  background-color: #cc42a2;
  z-index: 7;
  transform: rotate(180deg);
}

.color:nth-child(7):after {
  background-color: #ff3ba7;
  z-index: 6;
  transform: rotate(180deg);
}

.color:nth-child(8):after {
  background-color: #fe0048;
  z-index: 5;
  transform: rotate(210deg);
}

.color:nth-child(9):after {
  background-color: #fe3000;
  z-index: 4;
  transform: rotate(240deg);
}

.color:nth-child(10):after {
  background-color: #fe6c00;
  z-index: 3;
  transform: rotate(270deg);
}

.color:nth-child(11):after {
  background-color: #ffcc00;
  z-index: 2;
  transform: rotate(300deg);
}

.color:nth-child(12):after {
  background-color: #ede604;
  z-index: 1;
  transform: rotate(330deg);
}

.color:nth-child(n + 7) {
  transform: rotate(180deg);
}

.center {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 3.15em);
  top: calc(50% - 3.15em);
  width: 6.3em;
  height: 6.3em;
  z-index: 2;
  background-image: linear-gradient(to bottom, #111, #333);
  box-shadow: inset 0 3px 7px 0px #000, 0 25px 30px -5px rgba(0, 0, 0, 0.5);
}
.center:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 2.1em);
  top: calc(50% - 2.1em);
  width: 4.2em;
  height: 4.2em;
  background-image: linear-gradient(to bottom, #1b1b1b 20%, #aaaaaa);
  box-shadow: 0 25px 30px -5px rgba(0, 0, 0, 0.5);
}
.center:after {
  position: absolute;
  color: #9effff;
  border-radius: 50%;
  left: calc(50% - 10px);
  top: calc(50% - 25px);
  font-size: 40px;
  font-weight: 800;
}
.center1:after {
  content: "1";
}
.center2:after {
  content: "2";
  left: calc(50% - 15px);
}

.wrapper__pin {
  transform: rotate(0deg);
  transform-origin: 50px 50px;
  -ms-transform-origin: 50px 50px;
  -webkit-transform-origin: 50px 50px;
  /* Safari and Chrome */
  z-index: -1;
  position: absolute;
  transition: all 1s ease;
}

.pin {
  width: 2.1em;
  height: 2.1em;
  transform: rotate(50deg) skew(30deg, 20deg);
  box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.1),
    0 0 12px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: absolute;
  z-index: -1;
  left: 32px;
  top: 3px;
}

#hologram1 {
  background: #051d29
    url("https://markostefanovic.github.io/random-quote-generator/images/back.png")
    repeat 300% 300%;
  opacity: 0.8;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(46, 103, 151, 0.8);
  color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgba(46, 103, 151, 0.8);
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.div-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
